body {
	background: #2b303a;
	font-family: Montserrat;
}

a:link {
	text-decoration: none;
	color: unset;
}

a:visited {
	color: inherit;
}

.header-nav{
    display: flex;
    justify-content: right;
    padding-right: 40px;
}

.icon {
    padding-right: 10px;
}

a:link {
    text-decoration: none;
    color: unset;
}

a:visited {
    color: inherit;
}

.link{
    padding-right: 30px;
    line-height: 25px;
    color: dfe0e2 !important;
}